
body{
  background-image: url(../Images/download.jpeg);
  background-size: cover;
}
/* .container{
  flex-direction: column;

} */
#topics{
  font-family: 'Rajdhani', sans-serif;
  font-size: 35px;
  /* background: linear-gradient(#B8F9FF, cornsilk) */
  background-image: linear-gradient( #22107F, #856DFF, #4521FF, #371ACC, #42377F);
  color: #FFC71B;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  
}

.col-lg-2{
  
  border: 4px outset #AD701D;
  padding: 1em 1em .5em 1em;
  line-height: 1.1em;
  letter-spacing: .1em;
  align-items: center;
  align-content: center;
  font-size: 1.0em;
}

.col-md-2{
  text-align: center;
  padding: 1em;
  /* background-color: aquamarine; */
  border: 4px outset #AD701D;
  
  
}


button{
  justify-content: center;
  padding: 15px;
  border: 4px outset #E4C176; 
  border-radius: 20px;
  background: linear-gradient(#E02F63, rgba(224, 103, 87, .5), #E58960, rgba(225, 169, 157, .7),rgba(47, 77, 224, .4));
  font-size: 25px;
  text-shadow: 2px 2px 4px #000000;
  color: #FFC71B;
  letter-spacing: .2em;
  font-family: 'Righteous', cursive;
}

#two{
  background: linear-gradient(rgba(13, 64, 230, .3), rgba(115, 16, 172, .3), rgba(233, 31, 199, .3));
}

#four{
  background: linear-gradient(rgba(13, 64, 230, .3), rgba(115, 16, 172, .3), rgba(233, 31, 199, .3));
}

#six{
  background: linear-gradient(rgba(13, 64, 230, .3), rgba(115, 16, 172, .3), rgba(233, 31, 199, .3));
}

#eight{
  background: linear-gradient(rgba(13, 64, 230, .3), rgba(115, 16, 172, .3), rgba(233, 31, 199, .3));
}

#ten{
  background: linear-gradient(rgba(13, 64, 230, .3), rgba(115, 16, 172, .3), rgba(233, 31, 199, .3));
}
#startgame{
display: block;
text-align: center;
margin-top: 10px;

 
  
}

.modal-dialog{
  color: #FFC71B;
  font-size: 2em;
}
.modal-content{
  border: .5em outset rgba(247, 26, 166, 0.783);
  border-radius: 25px; 
  margin-top: 200px;
  background: linear-gradient(rgba(229, 26, 247, 0.783), rgba(40, 47, 230, 0.399), rgba(240, 9, 32, 0.783))
  
}
.modal-footer{
  border: .5em groove rgba(224, 103, 87, .5)
}